NEXT_PUBLIC_API_URL=http://localhost:3001
NEXT_PUBLIC_CONTRACT_ID=CCI5G6S4UGKJ3X5H2WYZ7JQK5FJQZ3KJ5H2WYZ7JQK5FJQZ3KJ5H2
NEXT_PUBLIC_SOROBAN_RPC_URL=https://rpc-futurenet.stellar.org
NEXT_PUBLIC_NETWORK_PASSPHRASE=Test SDF Future Network ; October 2022
